
      h1 {color:red;}
 
      #requirements {color:white;}
      
      .level {color: red;
        }
        h2 {color: green;}
   p {color: brown;}
   .mycolor {
     color: aqua;
   }
   body {background-color: pink}

